@page
@model Proiect.Pages.Reviews.CreateModel

@{
    ViewData["Title"] = "Create Review";
}

<h1>Create</h1>

<h4>Review</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NewReview.Rating" class="control-label">Notă (1-5)</label>
                <input asp-for="NewReview.Rating" class="form-control" type="number" min="1" max="5" />
                <span asp-validation-for="NewReview.Rating" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="NewReview.Comment" class="control-label">Comentariu</label>
                <textarea asp-for="NewReview.Comment" class="form-control" rows="3"></textarea>
                <span asp-validation-for="NewReview.Comment" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="NewReview.ProductId" />

            <div class="form-group mt-3">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}